.admin-container {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input {
    padding: 8px;
    margin-right: 10px;
    width: 200px;
    margin: 0 10px;
}

.search-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 10px;
}

table th {
    background-color: #007bff;
    color: #fff;
}

table td {
    text-align: center;
}

table td button {
    padding: 6px 12px;
    margin: 0 4px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}